insightface==0.7.3
torch==2.7.1
torchvision==0.22.1
fastapi==0.116.1
uvicorn==0.35.0
python-multipart==0.0.20
accelerate==1.9.0
onnxruntime-gpu==1.22.0
peft==0.16.0
transformers==4.54.0
diffusers==0.34.0
huggingface_hub==0.25.2
xformers==0.0.31.post1
itsdangerous==2.2.0
